/* 正文 */
body {
  padding-top: 70px;
}

#forMain {
  margin-bottom: 20px;
}

fieldset ~ fieldset {
  margin-top: 3vh;
}

legend,
h4,
.gold {
  font-weight: bold;
}

legend {
  border-bottom-color: #5e477c;
}

h4 {
  margin: 1.5vh 0;
}

.gold {
  color: #b7a261;
}
