/* 正文 */
body {
	padding-top: 70px;
}

#forMain {
	margin-bottom: 20px;
}

fieldset ~ fieldset {
	margin-top: 5vh;
}

legend, h4 {
	font-weight: bold;
}

h4 {
	margin: 20px 0;
}

/* affix */
aside {
	height: 500px;
	background-color: #8E85F6;
}