/* body {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

  -webkit-filter: grayscale(1);

  filter: grayscale(1);
} */

body {
	color: #454440;
}

/* 导航栏 */
.navbar-default {
	background-color: #fafafa;
}

.navbar-default .navbar-nav > li > a {
	color: #454440;
	font-weight: bold;
}

.navbar-default .navbar-right > li > a,
.navbar-default .navbar-right > li > a:hover {
	color: #5e477c;
}

/** 当前状态指示条 **/
.navbar-nav {
	padding-left: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.navbar-nav > li > a:hover,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
	border-left: 3px solid #e2dac0;
	padding-left: 12px;
}

.navbar-default .navbar-nav > .active > a {
	border-left: 3px solid #b7a261;
	padding-left: 12px;
}

.navbar-right > li > a:hover {
	border-left: 3px solid #bfb5cb;
}

.navbar-default .navbar-right > .active > a {
	border-left: 3px solid #5e477c;
}

/*** 针对非移动产品 ***/
@media (min-width: 768px) {	
    .navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:focus {
		padding-bottom: 7px;
		border-bottom-width: 3px;
		margin-bottom: 5px;
		border-left-width: 0;
		padding-left: 15px;
	}
	
	.navbar-nav > li > a:hover,
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:hover,
	.navbar-nav > .open > a:focus {
		border-bottom: 3px solid #e2dac0;
	}
	
	.navbar-default .navbar-nav > .active > a {
		border-bottom: 3px solid #b7a261;
	}
	
	.navbar-right > li > a:hover {
		border-bottom: 3px solid #bfb5cb;
	}
	
	.navbar-default .navbar-right > .active > a {
		border-bottom: 3px solid #5e477c;
	}
}

/** 透明导航栏 **/
body {
	padding-top: 50px;
}

@media (min-width: 768px) {
	body {
		padding-top: 0;
	}
	
	.navbar-transparent {
		background-color: transparent;
		border-bottom-width: 0;
	}
	
	.navbar-transparent .navbar-nav > .active > a {
		background-color: transparent;
	}
	
	.navbar-transparent .navbar-nav > li > a,
	.navbar-transparent .navbar-nav > li > a:hover,
	.navbar-transparent .navbar-nav > li > a:focus,
	.navbar-transparent .navbar-nav > .active > a,
	.navbar-transparent .navbar-nav > .open > a,
	.navbar-transparent .navbar-nav > .open > a:focus,
	.navbar-transparent .navbar-nav > .open > a:active,
	.navbar-transparent .navbar-brand {
		color: #fafafa;
	}
	/*** 动画效果 ***/
	.navbar-default {
		transition: background-color 0.3s ease;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;
	}
	
	.navbar-brand,
	.navbar-nav a {
		transition: color 0.3s ease;
		-webkit-transition: color 0.3s ease;
		-moz-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;		
	}
}

/* 脚注 */
footer {
	text-align: center;
	height: 100px;
	padding: 25px 50px;
	background-color: #fafafa;
	border-top: 1px solid #e7e7e7;
}

#forFooter {
	margin-bottom: 0px;
}

button {
	padding: 0;
	border-width: 0;
}