/* 全局 */
body {
	//text-align:center;
}

/* 导航栏 */
.navbar-default {
	background-color: rgba(248,248,248,.5);
}

/* 脚注 */
footer {
	text-align: center;
	height: 100px;
	padding: 25px 50px;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
}

#forFooter {
	margin-bottom: 0px;
}

button {
	padding: 0;
	border-width: 0;