/* 排版 */
body {
	padding-top: 50px;
	text-align:center
}

div.row {
	margin-bottom: 200px;
	height: 1000px;
}

div.row + div.row {
	height: 500px;
}

#forMain {
	margin-bottom: 20px;
}

nav {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}

header {
	height: 500px;
}


footer {
	height: 100px;
}

#forFooter {
	margin-bottom: 0px;
}


/* 颜色 */
div.row, footer {
	background-color:#14C8D7;
}

nav {
	//background-color: #15E340;
	background-color: rgba(21,227,64,.5);
}