/* 正文 */
#forMain {
	margin-bottom: 20px;
}

div.row {
	margin-bottom: 33vh;
	//max-height: 1000px;
}

img {
	width: 100%;
}

div.row:last-child {
	margin-bottom: 150px;
}

/* 影片介绍　*/
legend {
	text-align: center;
}

.col-md-3 img {
	max-height: 100vh;
	width: auto;
}

.col-md-3 a {
	opacity: 0.6;
}

.col-md-3 a:hover,
.col-md-3 a:active {
	opacity: 1;
}

/* img-holder-content */
.img-holder {
	position: relative;
}

.img-holder a {
	position: absolute;
	left: 75vw;
	bottom: 45%;
}