/* 标题 */
body {
	padding-top: 50px;
}

/* 正文 */
#forMain {
	margin-bottom: 20px;
}

div.row {
	margin-bottom: 200px;
	height: 1000px;
	background-color:#14C8D7;
}

div.row + .row {
	height: 600px;
}

div.row:last-child {
	margin-bottom: 150px;
}