/* 正文 */
body {
	padding-top: 70px;
}

#forMain {
	margin-bottom: 20px;
}

div.row {
	margin-bottom: 50px;
	height: 200px;
	background-color:#14C8D7;
}

div.row + .row {
	margin-bottom: 100px;
	height: 600px;
}