/* 封面标题 */
#forHeader {
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}

/* 主体 */
#forMain {
  margin-bottom: 20px;
  text-align: center;
}

div.row {
  margin-bottom: 20px;
}

main ul li {
  list-style-type: none;
}

main ul {
  padding-left: 0;
}

main {
  background-color: #fafafa;
}

h3 {
  color: #b7a261;
  font-weight: bold;
}

strong {
  color: #5e477c;
}

/* affix */
aside {
  text-align: left;
}

aside ul li {
  padding-left: 0;
  list-style: none;
}

aside .nav > .active {
  border-left: 2px solid #b7a261;
}

aside .nav > li > a,
aside .return-to-top > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #454440;
}

aside .nav li > a:hover,
aside .nav li > a:focus {
  background-color: transparent;
  color: #e2dac0;
  border-left: 2px solid #e2dac0;
  padding-left: 13px;
}

aside .nav > .active > a {
  color: #b7a261;
  padding-left: 13px;
}

aside > .return-to-top {
  padding-left: 15px;
  margin-top: 10px;
}

.affix {
  top: 90px;
}

.affix-top {
  margin-top: 20px;
  width: 100%;
}

.affix-bottom {
  position: absolute;
}
