#forNav nav{
	background-color: rgba(248,248,248,.5);
}

/* 封面 */
#forHeader {
	margin-bottom: 100px;
}

header {
	//height: 600px;
	background-color:#14C8D7;
}

@media (max-width: 1199px) {
	header picture img {
		width: 100%;
	}
}

header picture img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* 正文 */
body {
	//padding-top: 50px;
}

#forMain {
	margin-bottom: 20px;
}

div.row {
	margin-bottom: 100px;
	min-height: 200px;
	background-color:#14C8D7;
}

/* 演员介绍 */
#actor-intro .col-sm-4 {
	padding: 20px;
	background-color: #E8EC63;
	border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	height: 100%;
}

