/* 封面 */
.header .img-holder img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#forHeader {
	margin-bottom: 10vh;
}

/* 正文 */
#forMain,
#actor-intro {
	margin-bottom: 5vh;
}

/* 演员介绍 */
#actor-intro .col-sm-4 {
	padding: 20px;
	border-left-width: 2px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	height: 100%;
}

#actor-intro {
	text-align: center;
}

#actor-intro img {
	margin-left: auto;
	margin-right: auto;
}

/* img-holder-content */
.img-holder {
	position: relative;
}
	
.img-content {
	text-align: center;
	font-weight: bold;
}

@media (min-width: 768px) {	
	.img-content {
		position: absolute;
		top: 45%;
		transform: translate(-50%,-50%);
	}
	
	.img-content-left {
		left: 25vw;
	}
	
	.img-content-middle {
		top: 40%;
		left: 40vw;
	}
	
	.img-content-right {
		left: 80vw;
	}
}

/* Modal */
.col-sm-4 > button {
	margin: 0;
	padding: 2px;
	border: 0;
}

.col-sm-4 >button:hover,
.col-sm-4 >button:focus {
	padding: 0;
	border: 2px solid #0af;
}

#actor-intro .modal {
	text-align: left;
}

.modal-hedaer button {
	display: inline-block;
}

/* 影评 */
legend,
#film-intro h2 {
	text-align: center;
}

#film-intro p {
	font-size: large;
	line-height: 1.5;
}
