/* 导航栏 */
body {
	padding-top: 50px;
}

nav {
	//background-color: rgba(21,227,64,.5);
}

/* 排版 */
body {
	text-align:center
}

#forHeader {
	margin-bottom: 100px;
}

header {
	height: 600px;
}

#forMain {
	margin-bottom: 20px;
}


div.row {
	margin-bottom: 100px;
	height: 500px;
}

footer {
	height: 100px;
}

#forFooter {
	margin-bottom: 0px;
}


/* 颜色 */
div.row, footer, Header {
	background-color:#14C8D7;
}
